body {
  margin: 0;
  overflow: hidden;
}

#black-screen {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

#image-container {
  position: relative;
  transform-origin: center;
  animation: rotateImages 50s linear infinite;
}

.image-point {
  position: absolute;
  width: 10px;
  height: 10px;
}

.image-point img {
  width: 2500%;
  height: 2500%;
  object-fit: cover;
}

@keyframes rotateImages {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}